<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.samsung.com/">
    <cpname itemtype="string"/>
    <cplogo itemtype="string"/>
    <cpauthjs itemtype="string"/>
    <ThumbIcon itemtype="string"/>
    <BigThumbIcon itemtype="string"/>
    <ListIcon itemtype="string"/>
    <BigListIcon itemtype="string"/>
    <category itemtype="string"/>
    <autoUpdate itemtype="boolean">n</autoUpdate>
    <ver itemtype="string">0.310</ver>
    <mgrver itemtype="string"/>
    <fullwidget itemtype="boolean">y</fullwidget>
    <type itemtype="string">user</type>
    <srcctl itemtype="boolean">y</srcctl>
    <ticker itemtype="boolean">n</ticker>
    <childlock itemtype="boolean">n</childlock>
    <videomute itemtype="boolean">n</videomute>
    <dcont itemtype="boolean">y</dcont>
    <widgetname itemtype="string">kino.pub</widgetname>
    <description itemtype="string">Watch kino.pub on SmartTV</description>
    <width itemtype="string">1280</width>
    <height itemtype="string">720</height>
    <mouse itemtype="boolean">y</mouse>
    <author itemtype="group">
        <name itemtype="string">Thoice</name>
        <email itemtype="string">thoice@gmail.com</email>
        <link itemtype="string">http://thoice.com</link>
        <organization itemtype="string"/>
    </author>
</widget>
