html			{ background-color: #ffffff; padding: 0; margin: 0; width: 1280px; height: 720px; }
body			{
    background: #2f373e;
    color: #ffffc8;
    padding: 0;
    margin: 0;
    width: 1280px;
    height: 720px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18pt;
}

div             { box-sizing: border-box; }
:focus          { outline: none; }
@font-face {
    font-family: 'OpenSans-CondLight';
    src: url('../../res/OpenSans-CondLight.woff') format('woff');
}

#wrapper        { background: radial-gradient(ellipse at center, #26367f 0%, #2f373e 99%); }

#header_wrapper {
    background: rgba(57, 66, 74, 0.5);
    height: 60px;
    width: 100%;
    display: table;
    padding-left: 13px;
    font-size: 20pt;
}

#header         {
    display: table-cell;
    vertical-align: middle;
    font-family: OpenSans-CondLight, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 25px;
}

#scene_wrapper  { width: 100%; }
.scene          { overflow: hidden;}
.hidden         { display: none; }
#footer_wrapper { background-color: #f6b68a; height: 40px; width: 100%; }

.button {
    font-size: 22px;
    padding: 10px;
    background-color: transparent;
    color: #ffffc8;
    border: 5px solid #ffffc8;
    box-sizing: border-box;
    margin: 5px;
}

.button:focus {
    background-color: #ffffc8;
    color: #2f373e;
}

#modal_wrapper {
    z-index: 1;
    background: radial-gradient(ellipse at center, #26367f 0%, #2f373e 99%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: table;
}

#modal_wrapper.hidden {
    display: none;
}

#modal_content_wrapper {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 50%;
}

#modal_content {
    width: 800px;
    margin-left: -400px;
}