#menu_wrapper	            { background-color: #ffab7f; height: 40px; width: 100%; font-size: 2em; }
.menu-item-wrapper          { float: left; height: 40px; }
.menu-item-wrapper:focus    { border: 5px solid red; }